.cart{
    display: flex;
    background: var(--color05);
    color:var(--color04);
    padding: 3px 7px;
    border-radius: 8px;
    cursor: pointer;
    align-items: center;
    z-index: 400;
}
.cart:hover{
  background: coral;
  color:var(--color02);
  border-radius: 7px;
  cursor: pointer;
}

.cart__fly{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    border-radius: 8px;
    font-weight: 500;
    color: white;
}

.cart__list {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 395px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--color07);
    color: var(--color05);
    border-radius: 8px;
  }

  .cart__list p.limpiar {
    margin: 0 0 5px;
    text-align: right;
    color: var(--text__03);
    font-size: 0.8em;
    font-weight: 700;
    cursor: pointer;
  }
 
  .cart__list ul li a {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    padding: 5px 0;
    cursor: pointer;
  }
  
  .cart__list ul li a img {
    width: 50px;
    height: 50px;
    margin: 0 5px 0 0;
    border-radius: 8px;
  }
  .cart__list-btn {
    width: 100%;
    text-align: center;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0 0;
    background: var(--color05);
    bottom: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color:var(--color07)
  }

  

  .cart__list-btn span {
    font-size: 1em;
    color: var(--text__01);
  }
  .cart__list-btn a {
    width: 100%;
    padding: 10px 20px;
    border: none;
    background: transparent;
    color: var(--text__03);
    font-size: 1em;
    font-weight: 700;
    transition: all 0.1s ease;
  }
  .cart__list-btn:hover {
    color: var(--color07);
  }

.cart_inner{
 
  margin: 2% 8%;
  padding: 10px 20px;
}
.inner__card{
  width: 100%;
  display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    flex-direction: column;
    padding: 0;
    margin: 0 0 5px;
    min-height: 50px;
    max-height: 250px;
    overflow-y: auto;
}
.cardInner_row{
  width: 100%;
 
  display: flex;
  background: var(--color10);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}
 .close__innerCard{
  display: flex;
  background: var(--color02);
  padding: 6px;
  cursor: pointer;
  color: #fff;
  border-radius: 3px;
}
.cart_PrecioFinal{
  margin: 2% 20%;
  background:var(--color10);
  margin-left: 10px;
}

.cart_PrecioFinal p{
  margin-left: 20px;
  font-size: 12px;
  color: var(--color05);
  padding-bottom: 10px;
}
