.card{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    background: var(--color08);
    max-width: 280px;
    min-width: 200px;
    height: 430px;
    
}
    
.card__img{
    display: flex;
    justify-content: center;
}   
.card__img img{
    width: 100%;
    max-width: 230px;
    border-radius: 4px;
}

.detalle{
    
    width: 100%;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    background: var(--color09);
    padding: 10px;
    border: none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    color:var(--color02);
}
.card  .detalle:hover{
    background: var(--color02);
    color: var(--color08);
}

