.cardDetail{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 20px;
    background: var(--color08);
    padding: 40px;
    border-radius: 12px;
}
.card__descript{
    background-color: var(--color02);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    margin: 0px 50px;
    padding: 10px;
    

}

img.Detail_img {
    width: 100%;
    max-width: 230px;
    border-radius: 4px;
}
