.ItemCounter__col{
    
    padding: 10px;
    align-items: center;
    background: var(--color09);
    right: 30px;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}
.ItemCounter__col p{
    color: var(--color02);
}
.itemCouter__buttons{
    display: flex;
    gap: 2;
}
.itemCount_buttom{
    width: 100%;
    height: 40px;
    color: var(--color08);
    background: var(--color02);
    border-radius: 12px;
    border: none;
    cursor: pointer;
}
.itemCounter__final{
   width: 100%;
}

.aumentar,
.disminuir{
    color: var(--color04);
    background: var(--color02);
    border-radius: 8px;
    border: var(--color02);
    padding: 2px 11px;
    cursor: pointer;
}
.count{
    color: var(--color02);
    background: var(--color09);
    border-radius: 4px;
    padding: 4px 10px;
    margin: 2px
}