/*------------General------------*/
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --color01: #000000;
  --color02: #d2691e;
  --color03: #332902;
  --color04: #ffffff;
  --color05: #045c33;
  --color06: #666b24;
  --color07: #eaecbd;
  --color08: #273128;
  --color09: #1f2720;
  --color10: #cecfab;
}

.row{
  display: flex;
  justify-content: space-between;
}

h1,
h2,
h3{
  margin: 0.5rem 0;
  color:var(--color04)
}
h1{
  margin: 1.5rem;
}
h2{
  margin: 1.2rem;
  text-align: center;
}

p{
  color: var(--color04);
}