@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&family=Shippori+Antique&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Anton', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Shippori Antique', sans-serif;
}
:root{
  --color01: #000000;
  --color02: #d2691e;
  --color03: #332902;
  --color04: #ffffff;
  --color05: #045c33;
  --color06: #666b24;
  --color07: #eaecbd;
  --color08: #273128;
  --color09: #1f2720;
  --color10: #cecfab;
}

.row{
  display: flex;
  justify-content: space-between;
}

h1,
h2,
h3{
  margin: 0.5rem 0;
  color:var(--color04)
}
h1{
  margin: 1.5rem;
}
h2{
  margin: 1.2rem;
  text-align: center;
}

p{
  color: var(--color04);
}